.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
}

.calculatorWrapper {
  width: auto;
  background-color: black;
  border-radius: 1em;
  border: 3px solid #FF9500;
  padding: 2em;
}

.historic {
  color: #cecece;
  text-align: right;
  word-break: break-all;
}

.result {
  color: white;
  text-align: right;
  font-size: 4em;
  word-break: break-all;
  padding: 0.4em 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 8px;
}

.key {
  visibility: hidden;
}